* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 114, 49);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.insert-data {
    background-color: #fff;
    border-radius: 10px;
    padding: 80px;
}

.insert-data h1 {
    margin-bottom: 20px;
}

.insert-data span {
    color:rgb(16, 114, 49);
    font-weight: bold;
}

.bt-section {
    padding-top: 40px;
}

#login {
    font-size: 15px;
    color:rgb(16, 114, 49);
    padding: 5px;
}

/*Parte Gioco dei dadi*/

.game-bt button {
    font-size: 15px;
    color:rgb(16, 114, 49);
    padding: 5px;
    margin: 50px;
    outline: 2px solid #fff;
    outline-offset: 2px;
}

.start-game {
    background-color: #fff;
    padding: 50px;
    display: none;
}

.active {
    display: inline-block;
}